p {
font-size: 40px;
font-family:"Segoe Print";
font-weight: bold;
color:rgb(0, 0, 0);
text-align: center;

}
header{
    background-color: thistle;
}
body{
    background-color: violet;
}
footer{
    background-color: rosybrown;                                      
}
main{
   background-color: plum;
}
header{
    background-color: pink;
}
section{
    background-color: pink;
}
header{
    background-image
}

.parrafo1{
    font-size:60px;
}
.valen{
    color: purple;
}